@page {
  margin: 0;
  size: 148mm 210mm;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  text-rendering: geometricPrecision;
  padding: 0;
  margin: 0;

  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif
}

.page {
  box-sizing: border-box;
  page-break-before: always;

  width: 100%;
  height: 100%;
  color: #1a1919;
  background: #fff;
  padding: 2cm;
}

.page img {
  max-width: 100%;
  max-height: 100%;
}

.page.front, .page.back {
  background: #bb2830;
  color: white;
  text-align: center;
  padding: 0;
}

.page.front a, .page.back a {
  color: inherit;
  text-decoration: none;
}

.page.front {
  font-weight: bold;
  font-size: 12pt;
}

.page.front .formula {
  font-size: 50pt;
  padding-top: 5cm;
}

.page.front img {
  width: 2cm;
  vertical-align: middle;
}

.page.front img.flask {
  margin-top: -0.5cm;
}

.page.front header {
  font-size: 25pt;
  margin-bottom: 2cm;
}

.page.front header h1 {
  font-size: 70pt;
  margin: 1.5cm 0 0 0;
}

.page.empty {
  background: #e4e4e3;
}

@media screen {
  body {
    background: #ddd;
  }

  .page {
    box-shadow: 0 0 0.5cm #999;
    width: 148mm;
    height: 210mm;
    margin: 1cm auto;
  }
}