@import 'reset';

$red: #bb2830;
$black: #1a1919;
$grey: #e4e4e3;

$page-width: 148mm;
$page-height: 210mm;

@page {
  margin: 0;
  size: A5;
}

@page horizontal {
  margin: 0;
  size: A5 landscape;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  text-rendering: geometricPrecision;
  padding: 0;
  margin: 0;

  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

input, textarea {
  background: $grey;
  display: block;
  width: 100%;
  border: none;
  font-size: 20pt;
}

textarea {
  height: 3em;
}

blockquote {
  margin: 0 0 1em 0;
  font-style: italic;
}

h1, h2 {
  color: $red;
  margin-bottom: .5em
}

h1 {
  font-size: 30pt;
  line-height: 1.1em;
}

h2 {
  font-size: 14pt;
}

p {
  margin: 1em 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    margin: 0.5em 0;
  }

  li li {
    margin: 0.2em 0;
  }
}

code {
  display: inline-block;
  border: solid 1px grey;
  padding: 0.1em 0.4em;
  margin: 0.1em 0;
  border-radius: 0.2em;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

.frame {
  border: 3pt $grey solid;
  width: 100%;
  height: 10em;
}

figcaption {
  font-size: 10pt;
  font-style: italic;
}

.page {
  box-sizing: border-box;
  page-break-before: always;

  position: relative;

  width: 100%;
  height: 100%;
  color: $black;
  background: white;
  font-size: 10pt;
  line-height: 1.3;

  &:nth-child(odd) {
    padding: 2cm 2cm 2cm 3cm;
  }

  &:nth-child(even) {
    padding: 2cm 3cm 2cm 2cm;
  }

  &.horizontal {
    page: horizontal;

    &:nth-child(odd) {
      padding: 3cm 2cm 2cm 2cm;
    }

    &:nth-child(even) {
      padding: 2cm 2cm 3cm 2cm;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  &.front, &.back {
    background: $red;
    color: white;
    text-align: center;
    padding: 0;
  }

  &.front {
    font-weight: bold;
    font-size: 12pt;

    .formula {
      font-size: 50pt;
      padding-top: 5cm;
    }

    img {
      width: 2cm;
      vertical-align: middle;

      &.flask {
        margin-top: -0.5cm;
      }
    }

    header {
      font-size: 25pt;
      margin-bottom: 2cm;
    }

    h1 {
      font-size: 70pt;
      margin: 1.5cm 0 0 0;
      color: inherit;
    }
  }

  &.back {
    font-weight: bold;
    font-size: 12pt;

    h1 {
      font-size: 50pt;
      padding-top: 8cm;
      margin-top: 0;
      color: inherit;
    }

    .copyright {
      font-weight: normal;
    }
  }

  &.empty {
    background: $grey;
  }

  &.motivational {
    font-size: 16pt;
    padding-top: 6cm;
  }
}

#bentobox {
  position: relative;

  h2 {
    margin: 0 0 .3em 0;
  }

  p {
    margin: 0;
  }

  input {
    width: 3cm;
    background: white;
  }

  label {
    font-weight: bold;
  }

  .meta {
    position: absolute;
    top: 2cm;
    left: 2cm;

    * {
      display: inline-block;
      margin: 0;
      vertical-align: baseline;
    }

    h1 {
      margin: 0 1em 0 0;
    }
  }

  img {
    margin-top: 1cm;
  }

  .compartment {
    position: absolute;
    z-index: 10;
    overflow: hidden;

    &.top-left {
      top: 4.75cm;
      left: 2.8cm;
      width: 5cm;
      height: 3.5cm;
    }

    &.top-right {
      top: 4.75cm;
      left: 8.75cm;
      width: 9.2cm;
      height: 1.8cm;
    }

    &.bottom-left {
      top: 9.3cm;
      left: 2.8cm;
      width: 5cm;
      height: 2.2cm;
    }

    &.bottom-right {
      top: 7.3cm;
      left: 8.75cm;
      width: 9.2cm;
      height: 1.8cm;
    }
  }
}

@media screen {
  body {
    background: #ddd;
  }

  .page {
    box-shadow: 0 0 0.5cm #999;
    width: $page-width;
    height: $page-height;
    margin: 1cm auto;

    &.horizontal {
      height: $page-width;
      width: $page-height;
    }
  }
}