<html>
<head>
  <meta charset="utf-8">
  <title>Rails Girls Workbook</title>
  <link rel="stylesheet" href="stylesheets/workbook.css" />
</head>
<body>
  <div class="page front">
    <div class="formula">
      <img src="images/heart.svg" class="heart" /> + <img src="images/flask.svg" class="flask" /> = <img src="images/ruby.svg" class="ruby" />
    </div>

    <header>
      <h1>Rails Girls</h1>
      Your cookbook to the world<br />
      of web development.
    </header>

    <p><a href="http://railsgirls.com">railsgirls.com</a></p>
  </div>

  <div class="page empty"></div>

  <div class="page">
    Page
  </div>

  <div class="page">
    Page
  </div>

  <div class="page">
    <img src="images/bentobox.svg" />
  </div>

  <div class="page">
    Page
  </div>

  <div class="page">
    Page
  </div>

  <div class="page back">
    <h1>Thats all!</h1>

    <p class="copyright">
      2010 - <%= Date.today.year %>, Rails Girls.<br />
      Contact us at <a href="mailto:team@railsgirls.com">team@railsgirls.com</a>
    </p>

    <p><a href="http://railsgirls.com">railsgirls.com</a></p>
  </div>
</body>
</html>