<html>
<head>
  <meta charset="utf-8">
  <title>Rails Girls Workbook</title>
  <link rel="stylesheet" href="stylesheets/workbook.css" />
</head>
<body>
  <div class="page front">
    <div class="formula">
      <img src="images/heart.svg" class="heart" /> + <img src="images/flask.svg" class="flask" /> = <img src="images/ruby.svg" class="ruby" />
    </div>

    <header>
      <h1>Rails Girls</h1>
      Your cookbook to the world<br />
      of web development.
    </header>

    <p><a href="http://railsgirls.com">railsgirls.com</a></p>
  </div>

  <div class="page empty"></div>

  <div class="page">
    <h1>This book belongs to</h1>
    <input type="text" />
  </div>

  <div class="page motivational">
    <h1>Get excited and make things</h1>
    <p>Software changes cultures. We believe that in a world where everything will involve the Internet, we need to get the girls involved too.</p>

    <p>Web applications are modern craftsmanship. Build tomorrows products. Learn to solve problems. Wonder how things work.</p>

    <p>We can give the ingredients, but you make the recipes.</p>
  </div>

  <div class="page">
    <h1>Knowing How</h1>
    <blockquote>
      <p>“I’ve long argued that UI design, programming, and product strategy should be learned apprentice-style with your hands and through experience, not through school and pedagogy. When I go to conferences about design I see a lot of declarative knowledge. Knowledge of. The latest CSS rules. The new JavaScript syntax. Ten ways to make users happy (supposedly) or whatever else.</p>

      <p>What I don’t see are procedures—somebody standing up there with a pen or a text editor and making things happen and showing how it’s done. That’s what I want to see and that’s what I think our industry needs more of.”</p>

      <span class="author">- Ryan Singer, 37 Signals</span>
    </blockquote>

    <h2>Further Reading</h2>
    <ul>
      <li>
        The first step is to start
        <a href="http://goo.gl/02u5">http://goo.gl/02u5</a>
      </li>

      <li>
        Code as Craft by Etsy
        <a href="http://goo.gl/5iX7L">http://goo.gl/5iX7L</a>
      </li>

      <li>
        Why Software is Eating the World
        <a href="http://goo.gl/ry3Sc">http://goo.gl/ry3Sc</a>
      </li>

      <li>
        Learning to Code: The Roadmap I Wish I Had Been Given
        <a href="http://goo.gl/sfeCL">http://goo.gl/sfeCL</a>
      </li>

      <li>
        A Tour of the Design Process at 37signals
        <a href="http://goo.gl/Fc49">http://goo.gl/Fc49</a>
      </li>

      <li>
        5by5 Podcasts
        <a href="http://goo.gl/QJqU">http://goo.gl/QJqU</a>
      </li>

      <li>
        What most schools don’t teach
        <a href="http://code.org/">http://code.org/</a>
      </li>
    </ul>
  </div>

  <div class="page motivational">
    <h1>Don't daydream. Just design.</h1>
    <p>Draw. Sketch. Wireframe. Mockup.</p>
    <p>Plans and ideas are nothing compared to something you can see, touch, hear or smell.</p>
    <p>Most applications are just screens with boxes, anyone can draw them. If you can’t, you need to think about the idea more.</p>
    <p>Drawing captures your idea into something concrete and real.</p>
  </div>

  <div class="page">
    <h1>Checklist for your web project</h1>

    <ul>
      <li>
        <label>What is the core idea for the project:</label>
        <input type="text" />
      </li>

      <li>
        <label>Decide until when you will finish the first version:</label>
        <input type="text" />
      </li>

      <li>
        <label>What’s the unique content you’re showing?</label>
        <input type="text" />
      </li>

      <li>
        <label>What problem will you try to solving?</label>
        <textarea></textarea>
      </li>

      <li>
        <label>Who will be the visitor/customer of your web project?</label>
        <textarea></textarea>
      </li>

      <li>
        <label>What is your most important goal with your project?</label>
        <textarea></textarea>
      </li>
    </ul>
  </div>

  <div class="page motivational">
    <h1>Lunch box your web app.</h1>
    <p>The Bentobox is our conceptual model for understanding web applications and their components.</p>

    <p>The Japanese lunchbox model aims to have a balanced mix of things. Much like web apps, the “Ekiben“, looks for content which is arranged in the most efficient, graceful manner. The bento is presented in a simple, beautiful, balanced way. Nothing lacking. Nothing superfluous. Not decorated, but wonderfully designed.</p>
  </div>

  <div class="page horizontal" id="bentobox">
    <img src="images/bentobox.svg" />

    <div class="meta">
      <h1>Bentobox</h1>

      <label>Application:</label>
      <input type="text" />

      <label>Designed by:</label>
      <input type="text" />
    </div>

    <div class="compartment top-left">
      <h2>Storage</h2>
      <p>
        Backend.<br />
        How the application stores data.
      </p>
    </div>

    <div class="compartment top-right">
      <h2>Logic</h2>
      <p>
        Backend.<br />
        How the application works.
      </p>
    </div>

    <div class="compartment bottom-left">
      <h2>Infrastructure</h2>
      <p>
        Backend.<br />
        How the application runs.
      </p>
    </div>

    <div class="compartment bottom-right">
      <h2>Style and structure</h2>
      <p>
        Frontend.<br />
        How the application looks.
      </p>
    </div>
  </div>

  <div class="page">
    <h1>Cheatsheet for your app</h1>
    <ul>
      <li>
        Your Ruby on Rails app can be found at:<br />
        <code>projects/railsgirls</code>
      <li>
      <li>
        You can start your app by opening Terminal and:<br />
        <code>cd projects/railsgirls rails s</code>
      </li>
      <li>
        Access the app:<br />
        Open <code>http://localhost:3000</code> on your web browser
      </li>
      <li>
        Most of the time you edit the files at <code>app/</code> directory<br />
        <code>app/views/</code> (the user interfaces of your app)<br />
        <code>app/models/</code> (models define app information structure)<br />
        <code>app/controllers/</code> (are the glue between models and views)
      </li>
      <li>
        Tools we use

        <ul>
          <li>Bootstrap (to style the app)</li>
          <li>Sublime/Komodo/Vim (to edit the code files) <a href="http://goo.gl/IKh1">http://goo.gl/IKh1</a></li>
          <li>Heroku (to host the application) <a href="http://heroku.com">http://heroku.com</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="page">
    <h1>Getting further</h1>
    <ul>
      <li>
        <h3>Rails Girls Guides</h3>
        <a href="http://guides.railsgirls.com">http://guides.railsgirls.com</a>
        <p>Everything you need to build your first app.</p>
      </li>
      <li>
        <h3>Try Ruby</h3>
        <a href="http://www.tryruby.org">http://www.tryruby.org</a>
        <p>Programming Ruby in your browser.</p>
      </li>
      <li>
        <h3>CodeSchool</h3>
        <a href="http://www.codeschool.com">http://www.codeschool.com</a>
        <p>Try out the Rails for Zombies module: a free, browser-based Rails workshop. Other classes interesting too!</p>
      </li>
      <li>
        <h3>Codecademy</h3>
        <a href="http://www.codeacademy.com">http://www.codecademy.com</a>
        <p>A Y-Combinator startup aiming to teach the world to code.</p>
      </li>
      <li>
        <h3>Don’t fear the Internet</h3>
        <a href="http://www.dontfeartheinternet.com">http://www.dontfeartheinternet.com/</a>
        <p>Frontend stuff (CSS & HTML) explained through short videos.</p>
      </li>
      <li>
        <h3>A Quick (and Hopefully Painless) Ride Through Ruby (with Cartoon Foxes)</h3>
        <a href="http://mislav.uniqpath.com/poignant-guide/book/chapter-3.html">http://mislav.uniqpath.com/poignant-guide/book/chapter-3.html</a>
        <p>The legendary Why’s Poignant Guide to Ruby: part comic book, part coding exercise.</p>
      </li>
      <li>
        <h3>RailsGuides</h3>
        <a href="http://guides.rubyonrails.org/">http://guides.rubyonrails.org/</a>
        <p>Tutorials and guides created by the Rails community</p>
      </li>
    </ul>
  </div>

  <div class="page motivational">
    <h1>Get going with something small.</h1>
    <p>Once you’ve gotten the first bite of coding web apps, try out the following.</p>
    <p>The idea is not to start building the next Facebook. Try creating something simple, yet interesting, in just a couple of days.</p>
    <p>Focus on the one thing you want to achieve - this is what applications anyways should be about.</p>
  </div>

  <div class="page">
    <h2>Start with simple mockups of your idea</h2>
    <ul>
      <li>Balsamiq <a href="http://balsamiq.com">http://balsamiq.com</a></li>
      <li>Mockingbird <a href="http://gomockingbird.com">http://gomockingbird.com</a></li>
      <li>Prototypesapp <a href="http://prototypesapp.com">http://prototypesapp.com</a></li>
    </ul>

    <h2>Design</h2>
    <ul>
      <li>Dribbble <a href="http://dribbble.com">http://dribbble.com</a></li>
      <li>CSSgrid <a href="http://cssgrid.net">http://cssgrid.net</a></li>
      <li>Colour Lovers <a href="http://www.colourlovers.com">http://www.colourlovers.com</a></li>
    </ul>


    <h2>Marketing Magic</h2>
    <ul>
      <li>Shopify <a href="http://www.shopify.com">http://www.shopify.com</a></li>
      <li>Moo <a href="http://www.moo.com">http://www.moo.com</a></li>
      <li>Stickermule <a href="http://www.stickermule.com">http://www.stickermule.com</a></li>
    </ul>

    <h2>Customer service &amp; feedback</h2>
    <ul>
      <li>UserVoice <a href="http://www.uservoice.com">http://www.uservoice.com</a></li>
      <li>Wufoo <a href="http://wufoo.com">http://wufoo.com</a></li>
      <li>Google Docs (Forms) <a href="http://docs.google.com">http://docs.google.com</a></li>
    </ul>

    <h2>Developer communities</h2>
    <ul>
      <li>Github <a href="http://www.github.com">http://www.github.com</a></li>
      <li>StackOverflow <a href="http://stackoverflow.com">http://stackoverflow.com</a></li>
      <li>Forrst <a href="http://www.forrst.com">http://www.forrst.com</a></li>
    </ul>

    <h2>Social</h2>
    <ul>
      <li>Facebook Social Plugins <a href="http://goo.gl/wSkVL">http://goo.gl/wSkVL</a></li>
      <li>Twitter Resources <a href="http://goo.gl/UOMhs">http://goo.gl/UOMhs</a></li>
    </ul>
  </div>

  <div class="page motivational">
    <h1>Make it real.<br />Make it happen.</h1>

    <p>Coding is only part of the fun. As soon as you have an application up and running, you should start thinking about your users and how to keep your app running.</p>

    <figure>
      <div class="frame"></div>
      <figcaption>Draw here your first e-mail newsletter template to your users.</figcaption>
    </figure>
  </div>

  <div class="page">
    <h1>My first investor deck</h1>
    <h3>The Team</h3>
    <p>Draw your team. What makes you special? Why are you going to succeed?</p>

    <h3>Problem</h3>
    <p>Draw here your problem - how it exists today? How come it’s a problem?</p>

    <h3>Solution</h3>
    <p>Draw here your solution. Make it tangible, real and descriptive.</p>

    <h3>Revenue and Competition</h3>
    <p>Who’s paying what? What are they paying for? Who are your competitors?</p>

    <h3>The Magic</h3>
    <p>What does the future look for you? What is your vision? What is your mission?</p>
  </div>

  <div class="page back">
    <h1>Thats all!</h1>

    <p class="copyright">
      2010 - <%= Date.today.year %>, Rails Girls.<br />
      Contact us at <a href="mailto:team@railsgirls.com">team@railsgirls.com</a>
    </p>

    <p><a href="http://railsgirls.com">railsgirls.com</a></p>
  </div>
</body>
</html>